.footer {
    background-color: $bgr-clr;
    padding-top: 60px;
    padding-bottom: 60px;

    &__address {
        color: $mail-tel-clr;
        font-style: normal;
    }


    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__list {
        display: block;
    }

    & .container {
        display: flex;
        gap: 70px;
        align-items: baseline;
    }

    &__text {
        color: $btn-clr;
        font-weight: 700;
        line-height: calc(16 / 14);
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__field {
        margin-left: auto;
    }
}

.footer__socials {
    margin-bottom: 20px;
}

.footer__link {
    color: $btn-clr;

    &--contacts {
        color: $mail-tel-clr;
        font-style: normal;
    }

    &:hover {
        color: $btn-clr
    }
}