.header {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    border-bottom: 1px solid $brd-hero-clr;

    &__container {
        display: flex;
        align-items: center;
        
        @include mq(mob-only) {
            justify-content: space-between;
        }
    }

    &__btn {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;

        @include mq(tab) {
            display: none;
        }
    }
    &__icon {
        fill: $main-txt-clr;    
    }
}