.hero {
    text-align: center;
    background-color: $bgr-clr;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,
            $brd-gradient-clr,
            $brd-gradient-clr),
        url("../images/header.jpg");

    @include mq(desk) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
    }


    &__title {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        color: $btn-clr;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-weight: 900;

        @include mq(desk) {
            max-width: 696px;
            font-size: 44px;
            line-height: calc(60 / 44);
        }
    }
}