/* :root {
  --main-txt-font: Roboto, sans-serif;
  --secondary-txt-font: Raleway, sans-serif;
  --main-txt-clr: #212121;
  --secondary-txt-clr: #757575;
  --logo-clr: #2196f3;
  --bgr-clr: #2f303a;
  --secondary-bgr-clr: #f5f4fa;
  --btn-clr: #ffffff;
  --btn-focus-clr: #188ce8;
  --mail-tel-clr: rgba(255, 255, 255, 0.6);
  --brd-card-clr: #eeeeee;
  --brd-hero-clr: #ececec;
  --brd-gradient-clr: rgba(47, 48, 58, 0.4);
  --icon-clr: #afb1b8;
  --card-gap: 30px;
  --card-item: 4;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* Main */
/* body {
  font-family: var(--main-txt-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-clr);
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
} */

/* .btn {
  font-family: inherit;
  cursor: pointer;
}

.btn-dezign {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 200px;
  color: $btn-clr;
  background-color: $logo-clr;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color $anim-fast;
}
.btn-dezign:hover,
.btn-dezign:focus {
  background-color: $btn-focus-clr;
} */

/* .link {
  text-decoration: none;
  color: currentColor;
}
.hover:hover,
.hover:focus {
  color: $logo-clr;
}

.link:active {
  color: $logo-clr;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  color: $main-txt-clr;
} */

/* Main */

/* Logo */
/* 
.header .logo {
  margin-right: 93px;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: var(--secondary-txt-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: $logo-clr;
}

.logo--black {
  color: $main-txt-clr;
} */
/* Header */
/* .header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid $brd-hero-clr;
}

.header .hover {
  transition: color $anim-fast;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  gap: 50px;
}

.header__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
} */

/* Navigation */

/* .navigation__list {
  color: $main-txt-clr;
  display: flex;
  gap: 50px;
}

.navigation__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link {
  position: relative;
}

.navigation__link--current {
  color: $logo-clr;
}

.navigation__link--current::after {
  color: $logo-clr;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: $logo-clr;
} */

/* .footer__address .hover {
  transition: color $anim-fast;
} */

/*Hero*/
/* .hero {
  text-align: center;
  background-color: $bgr-clr;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      $brd-gradient-clr,
      $brd-gradient-clr
    ),
    url("../images/header.jpg");
} */
/* 
.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: $btn-clr;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  letter-spacing: 0.06em;
} */

/* Dignity */

/* .dignity__item {
  width: 270px;
}

.dignity__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-txt-clr;
}

.dignity__container {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondary-bgr-clr;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
} */

/* Operations */

/* .operations {
  padding-top: 0;
}

.operations__list {
  --card-item: 3;
}

.operations__overlay-block {
  position: relative;
}

.operations__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 23px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.operation__text {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  color: $btn-clr;
  text-transform: uppercase;
}

.operations__img {
  display: block;
  height: auto;
} */

/* Team */

/* .team {
  background-color: $secondary-bgr-clr;
}

.team__item {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
}

.team__card {
  padding: 30px;
  text-align: center;
  background-color: $btn-clr;
}

.team__title {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: $main-txt-clr;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.card-item {
  flex-basis: calc(
    (100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item)
  );
} */

/* Footer */

/* .footer {
  background-color: $bgr-clr;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  color: $mail-tel-clr;
  font-style: normal;
}

.footer__link {
  color: $btn-clr;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__list {
  display: block;
} */
/* 
.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.logo--white {
  color: $btn-clr;
} */

/* Portfolio */

/* Main */
/* 
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.service__filter {
  margin-bottom: 50px;
}

.filter__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  max-width: 100%;
  border: none;
  color: $main-txt-clr;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background-color: $secondary-bgr-clr;
  border-radius: 4px;
  transition: color $anim-fast, background-color $anim-fast,
    box-shadow $anim-fast;
}

.filter__btn:hover,
.filter__btn:focus {
  color: $btn-clr;
  background-color: $logo-clr;
  box-shadow: 0px 4px 4px 0px #00000040;
} */

/* Service */

/* .projects {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid $brd-card-clr;
  border-top: none;
}
.service__block {
  position: relative;
  overflow: hidden;
}
.service__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform $anim-fast;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: $logo-clr;
  opacity: 90%;
}
.service__link:hover .service__overlay,
.service__link:focus .service__overlay {
  transform: translateY(0);
}

.service__text {
  text-align: left;
  color: $btn-clr;
  font-size: 18px;
  line-height: calc(28 / 18);
  user-select: none;
}

.service__link {
  display: block;
  transition: box-shadow $anim-fast;
}
.service__link:hover,
.service__link:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.service__list {
  --card-item: 3;
}

.sevice__subtitle {
  color: $main-txt-clr;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.sevice__text {
  font-size: 16px;
  line-height: calc(30 / 16);
} */

/* Social icons */

/*Company Socials */

/* .socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color $anim-fast;
}

.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer.socials__icon {
  --color1: $btn-clr;
  transition: color $anim-fast;
}

.socials__link:hover,
.socials__link:focus {
  background-color: $logo-clr;
}
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  --color1: #ffff;
} */

/* Cliens icons */

/* .clients__list {
  --card-item: 6;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid $icon-clr;
  border-radius: 4px;
  transition: border-color $anim-fast;
}
.clients__icon {
  fill: $icon-clr;
  transition: fill $anim-fast;
}
.clients__link:hover,
.clients__link:focus {
  border-color: $logo-clr;
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: $logo-clr;
} */

/* Footer icons */

/* .footer .container {
  display: flex;
  gap: 70px;
  align-items: baseline;
} */

/* .socials {
  color: $btn-clr;
  margin-bottom: 20px;
}

.socials__text {
  color: $btn-clr;
  font-weight: 700;
  line-height: calc(16 / 14);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.socials__form {
  display: flex;
  gap: 12px;
}

.socials__field {
  margin-left: auto;
} */
/* 
.footer-form__input {
  padding: 15px 16px;
  width: 358px;
  background-color: transparent;
  color: $btn-clr;
  line-height: calc(20 / 16);
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  outline: none;
  transition: border-color $anim-fast;
}
.footer-form__input:hover,
.footer-form__input:focus {
  border-color: $btn-clr;
}
.footer-form::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  padding: 10px 28px;
  gap: 10px;
  transition: background-color $anim-fast;
} */

/* Backdrop */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $anim-fast, visibility $anim-fast;
}

.backdrop__title {
  display: block;
  text-align: center;
  color: $main-txt-clr;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);
  margin-bottom: 20px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(120deg);
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: $btn-clr;
  border-radius: 4px;
  transition: transform $anim-fast;
  text-align: center;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $btn-clr;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill $anim-fast;
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: #2196f3;
} */
/* 
.register-form__group {
  margin-bottom: 12px;
}

.register-form__input,
.register-form__message {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color $anim-fast;
}
.register-form__message {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.register-form__input:focus,
.register-form__input:hover {
  border-color: $logo-clr;
}
.register-form__message:focus,
.register-form__message:hover {
  border-color: $logo-clr;
}

.register-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.register-form__form-wrap {
  position: relative;
}
.register-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.register-form__icon {
  transition: fill $anim-fast;
}
.register-form__input:focus + .register-form__icon,
.register-form__input:hover + .register-form__icon {
  fill: $logo-clr;
}

.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.register-form__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.register-form__wrap:last-child {
  margin-bottom: 0;
} */

/* /* .register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
  cursor: pointer;
}
.agreement__checkbox:checked + .agreement__icon.agreement__icon--uncheck {
  opacity: 0;
}
.agreement__icon--check {
  opacity: 0;
  transition: opacity $anim-fast;
}
.agreement__checkbox:checked + .agreement__icon .agreement__icon--check {
  opacity: 1;
}
.agreement__icon--uncheck {
  transition: fill $anim-fast;
}
.agreement__checkbox:hover + .agreement__icon .agreement__icon--uncheck,
.agreement__checkbox:focus + .agreement__icon .agreement__icon--uncheck {
  fill: $logo-clr;
}

/* .agreement__text {
  user-select: none;
  text-underline-position: under;
}
.agreement__link {
  color: $logo-clr;
} */
