.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 93px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity $anim-fast, visibility $anim-fast;
    overflow-y: scroll;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &__title {
        display: block;
        text-align: center;
        color: $main-txt-clr;
        font-size: 20px;
        font-weight: 700;
        line-height: calc(30 / 20);
        margin-bottom: 12px;

        @include mq(desk) {
            line-height: calc(23 / 20);
        }
    }
}