.footer-form {

    &::placeholder {
        color: $placeholder-txt-clr;
    }

    &__btn {
        padding: 10px 28px;
        gap: 10px;
        transition: background-color $anim-fast;
    }
}

.footer-form__input {
    padding: 15px 16px;
    margin-bottom: 20px;
    width: 450px;
    background-color: transparent;
    color: $btn-clr;
    line-height: calc(20 / 16);
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    outline: none;
    transition: border-color $anim-fast;

    @include mq(desk) {
        margin-bottom: 0;
        width: 368px;
    }

    &:focus {
        border-color: $btn-clr;
    }

    &:hover {
        border-color: $btn-clr;
    }
}