.logo {
    display: block;
    text-decoration: none;
    font-family: $secondary-txt-font;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: $logo-clr;

    &--black {
        color: $main-txt-clr;
    }

    &--white {
        color: $btn-clr;
    }

    &--right {
        @include mq(tab) {
            margin-right: 88px;
        }

        @include mq(desk) {
            margin-right: 93px;
        }
    }
    &--bottom {        
        margin-bottom: 20px;
        }
}