.mobMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: $btn-clr;
    transform: translateX(100%);
    transition: transform $anim-fast;
    

    &__wrap {
    display: flex;
    flex-direction: column;
    gap: 306px;
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__link {        
        color: $main-txt-clr;
        font-weight: 500;
        font-size: 40px;
        line-height: calc(47 / 40);
        letter-spacing: 0.02em;
        transition: color $anim-fast;

        &--transparent {
            color: $secondary-txt-clr;
            font-size: 24px;
            line-height: calc(24 / 28);
        }


        &--blue {
            color: $logo-clr;
            font-size: 34px;
            line-height: calc(40 / 34);
        }
        &--active {
            &:hover {
                color: $logo-clr;
            }

            &:focus {
                color: $logo-clr;
            }
        }
        
    }

    &__btn {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $btn-clr;
        border-radius: 50%;
        border: transparent;
        

        &:hover .mobMenu__icon {
            fill: $logo-clr;
        }

        &:focus .mobMenu__icon {
            fill: $logo-clr;
        }
    }
}
.mobMenu__icon {
transition: fill $anim-fast;
}

.mobMenu:nth-child(2) {
    margin-bottom: 306px;
}


.mobMenu.is-open {
    transform: translateX(0);
}

.mobSocials {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 64px;

    &__link {
        color: $logo-clr;
        font-size: 18px;
        line-height: calc(22 / 18);
        margin-right: 10px;
    }
}

.mobSocials__item:not(:last-child) {
    border-right: 1px solid $border-clr;
}