.modal {
    position: relative;
    padding: 40px;
    background-color: $btn-clr;
    border-radius: 4px;
    transition: transform $anim-fast;
    text-align: center;
        

    @include mq(mob) {
        max-width: 450px;
        width: 100%;
    }

    @include mq(tab) {
               
    }

    @include mq(desk) {
        position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        max-width: 528px;
        width: 100%;
        // min-height: 581px;
    }

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0) rotate(120deg);
    }
}