:root {
    --card-item: 1;
    --card-gap: 30px;
}
$main-txt-font: Roboto, sans-serif;
$secondary-txt-font: Raleway, sans-serif;
$main-txt-clr: #212121;
$secondary-txt-clr: #757575;
$logo-clr: #2196f3;
$bgr-clr: #2f303a;
$secondary-bgr-clr: #f5f4fa;
$btn-clr: #ffffff;
$btn-focus-clr: #188ce8;
$mail-tel-clr: rgba(255, 255, 255, 0.6);
$brd-card-clr: #eeeeee;
$brd-hero-clr: #ececec;
$brd-gradient-clr: rgba(47, 48, 58, 0.4);
$icon-clr: #afb1b8;
$anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$placeholder-txt-clr: rgba(255, 255, 255, 0.6);
$secondary-bgr-icon: rgba(255, 255, 255, 0.1);
$overlay-bgr-clr: rgba(47, 48, 58, 0.8);
$border-clr: rgba(33, 33, 33, 0.2);
